@{
    ViewData["Title"] = "HOME.";
}

<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-black" id="menu">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img class="logo" src="/img/RBG NOVO2.png" alt="logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link home" id="home" asp-action="Index" asp-controller="Home" >HOME.</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link destinos" id="destinos" asp-action="Create" asp-controller="ComprarDestinos">DESTINOS.</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link promocoes" id="promocoes" asp-action="Promocoes" asp-controller="Home">PROMOÇÕES.</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link contatos" id="contatos" asp-action="Create" asp-controller="Contatoes">CONTATO.</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link meusDestinos" id="meusDestinos" asp-action="MeusDestinos" asp-controller="Home">MEUS DESTINOS.</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


<main>
    <div class="cards">
        <h3 class="p-2"><a asp-action="Destinos">DESTINOS.</a></h3>
        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col">
                <div class="card h-50">
                    <img src="/img/fernando.svg" class="card-img-top" alt="Fernando de Noronha">
                    <div class="card-body">
                        <h5 class="card-title">FERNANDO DE NORONHA.</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-50">
                    <img src="img/maragogi.svg" class="card-img-top" alt="Maragogi">
                    <div class="card-body">
                        <h5 class="card-title">MARAGOGI.</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-50">
                    <img src="/img/natal.svg" class="card-img-top" alt="Natal">
                    <div class="card-body">
                        <h5 class="card-title">NATAL.</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-50">
                    <img src="/img/portoalegre.svg" class="card-img-top" alt="Porto Alegre">
                    <div class="card-body">
                        <h5 class="card-title">PORTO ALEGRE.</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-50">
                    <img src="img/recife.svg" class="card-img-top" alt="Recife">
                    <div class="card-body">
                        <h5 class="card-title">RECIFE.</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-50">
                    <img src="/img/salvador.svg" class="card-img-top" alt="Salvador">
                    <div class="card-body">
                        <h5 class="card-title">SALVADOR.</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-50">
                    <img src="/img/rj.svg" class="card-img-top" alt="Rio de Janeiro">
                    <div class="card-body">
                        <h5 class="card-title">RIO DE JANEIRO.</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-50">
                    <img src="/img/saoluis.svg" class="card-img-top" alt="São Luis do Maranhão">
                    <div class="card-body">
                        <h5 class="card-title">SÃO LUIS DO MARANHÃO.</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mpromocoes">
        <h3 class="p-2"><a asp-action="Promocoes">PROMOÇÕES.</a></h3>

        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="/img/GANHE1.svg" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">EM COMPRAS COM:</h5>
                                <p class="card-text">3 OU MAIS PASSAGEIROS, UMA SAI DE GRAÇA.</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="/img/15_.svg" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">NAS COMPRAS COM OS DESTINOS:</h5>
                                <p class="card-text">SALVADOR OU PORTO ALEGRE GANHE 15% DE DESCONTO.</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</main>
